body {
    padding-left: 12em; font-family: Arial; 
    color: purple; background-color: #d8da3d;
}

h1 {
    font-family: "Comic Sans MS";
}

ul {
    padding: 0; margin: 0; 
    position: fixed; left:50px; top: 100px;
}

img {
    float: right; margin-right: 50px; max-width: 400px; text-align: right;
}

p {
    padding: 10px; margin-right: 30em; color: black; 
    background-color: plum; border: 5px solid brown; margin-top: 20px;
}