body {
    padding-left: 12em; font-family: Arial; 
    color: purple; background-color: #d8da3d;
}

h1 {
    font-family: "Comic Sans MS";
}

ul {
    padding: 5px; margin: 0; width: 160px;
    list-style: none; background: #F5A9F2;
    position: fixed; left:20px; top: 100px;
}
li a {
    padding: .2em 0 .2em 1.5em;
    display: block;
    text-decoration: none;
    background: #F4F4F4;
}
li {border-top: 2px solid #FFFFFF;}

li a:hover, li a:active {background: #F3F781;}

li a:visited {color: black;}
img {
    float: right; margin-right: 50px; max-width: 400px; text-align: right;
}

p {
    padding: 10px; margin-right: 30em; color: black; 
    background-color: plum; border: 5px solid brown; margin-top: 20px;
}